In [ ]:
# (1. example of try Except)
try:
    numerator = 10
    denominator = 0

    result = numerator/denominator

    print(result)
except:
    print("Error: Denominator cannot be 0.")

Error: Denominator cannot be 0.

In [12]:
 #(2.example of multiple Except blocks)
try:
    even_numbers = [2,4,6,8]
    print(even_numbers[5])

except ZeroDivisionError:
    print("Denominator cannot be 0.")

except IndexError:
    print("Index Error.")

Index Error.

In [ ]:
#(3.try with else clause)
try:
    num = int(input("Enter a number: "))
    assert num % 2 == 0
except:
    print("Not an even number!")
else:
    reciprocal = 1/num
    print(reciprocal)   #If we pass an odd number
                        #o/p Not an even number

Enter a number: 1
Not an even number!

In [ ]:
#(4. try with else clause)
try:
    num = int(input("Enter a number: "))
    assert num % 2 == 0
except:
    print("Not an even number!")
else:
    reciprocal = 1/num
    print(reciprocal)     #If we pass an even number
                          #o/p number is displayed

Enter a number: 2
0.5

In [ ]:
#(5.try finally)
try:
    numerator = 10
    denominator = 0

    result = numerator/denominator

    print(result)
except:
    print("Error: Denominator cannot be 0.")

finally:
    print("This is finally block.")

Error: Denominator cannot be 0.
This is finally block.

In [ ]:
# (6. EXAMPLE OF SET)

student_id = {112, 114, 116, 118, 115}       # create a set of integer type
print('Student ID:', student_id)

vowel_letters = {'a', 'e', 'i', 'o', 'u'}    # create a set of string type
print('Vowel Letters:', vowel_letters)

mixed_set = {'Hello', 101, -2, 'Bye'}        # create a set of mixed data types
print('Set of mixed data types:', mixed_set)

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'i', 'a', 'e', 'o', 'u'}
Set of mixed data types: {'Bye', 'Hello', 101, -2}

In [ ]:
#(7. Example of Empty Set)

empty_set = set()                                               # create an empty set

empty_dictionary = { }                                          # create an empty dictionary

print('Data type of empty_set:', type(empty_set))               # check data type of empty_set

print('Data type of empty_dictionary', type(empty_dictionary))  # check data type of dictionary_set

Data type of empty_set: <class 'set'>
Data type of empty_dictionary <class 'dict'>

In [ ]:
#(8. example of duplicate set)
numbers = {2, 4, 6, 6, 2, 8}
print(numbers)   # {8, 2, 4, 6}

{8, 2, 4, 6}

In [ ]:
#(9. Add items to a set)
numbers = {21, 34, 54, 12}

print('Initial Set:',numbers)

numbers.add(32)                      # using add() method

print('Updated Set:', numbers)

Initial Set: {34, 12, 21, 54}
Updated Set: {32, 34, 12, 21, 54}

In [ ]:
#(10. update items to a set)
companies = {'shimakh', 'wipro'}
tech_companies = ['apple', 'google', 'apple']

companies.update(tech_companies)

print(companies)

{'shimakh', 'wipro', 'apple', 'google'}

In [ ]:
#(11. remove an item from set)
languages = {'Swift', 'Java', 'Python'}

print('Initial Set:',languages)

removedValue = languages.discard('Java')     # remove 'Java' from a set

print('Set after remove():', languages)

Initial Set: {'Python', 'Java', 'Swift'}
Set after remove(): {'Python', 'Swift'}

In [1]:
# (12.  SET OPERATIONS) UNION OF TWO SETS)

A = {1, 3, 5}                              # first set
B = {0, 2, 4}                              # second set
print('Union using |:', A | B)             # perform union operation using |
print('Union using union():', A.union(B))  # perform union operation using union()

Union using |: {0, 1, 2, 3, 4, 5}
Union using union(): {0, 1, 2, 3, 4, 5}

In [2]:
#(13. Set Intersection)


A = {1, 3, 5}                                                   # first set

B = {1, 2, 3}                                                   # second set

print('Intersection using &:', A & B)                           # perform intersection operation using &

print('Intersection using intersection():', A.intersection(B))  # perform intersection operation using intersection()

Intersection using &: {1, 3}
Intersection using intersection(): {1, 3}

In [3]:
#(14. Difference between Two Sets)

A = {2, 3, 5}                                             # first set

B = {1, 2, 6}                                             # second set

print('Difference using &:', A - B)                       # perform difference operation using &

print('Difference using difference():', A.difference(B))  # perform difference operation using difference()

Difference using &: {3, 5}
Difference using difference(): {3, 5}

In [4]:
#(15. Set Symmetric Difference)

A = {2, 3, 5}                                                       # first set

B = {1, 2, 6}                                                       # second set

print('using ^:', A ^ B)                                            # perform difference operation using &

print('using symmetric_difference():', A.symmetric_difference(B))   # using symmetric_difference()

using ^: {1, 3, 5, 6}
using symmetric_difference(): {1, 3, 5, 6}

In [5]:
#(16. Set issuperset)
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}

print(A.issuperset(B))   # Returns True

print(B.issuperset(A))   # Returns False

print(C.issuperset(B))   # Returns True

True
False
True

In [6]:
#(17. issubset)
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

print(A.issubset(B))   # all items of A are present in B

True

In [7]:
#(18. isdisjoint)
A = {1, 2, 3,}
B = {4, 5, 6}

print(A.isdisjoint(B))  # checks if set A and set B are disjoint

True

In [8]:
#(19. And operator)
n = 7
print(n > 5 and n < 10)
print(n < 5 and n < 10)

True
False

In [10]:
#(20. Or operator)
n = 10
print(n < 5 or n < 15)
print(n < 5 or n < 7)

True
False

In [11]:
#(21. NOT Operator)
print("The value of 'not True': ", not True)
print("The value of 'not Frue': ", not False)

The value of 'not True':  False
The value of 'not Frue':  True